<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Home</title>
	<meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

	<!-- Bootstrap core CSS -->
    <link href="../resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"></link>
    
    <!-- Bootstrap theme -->
    <link href="../resources/css/bootstrap-theme.min.css" th:href="@{/resources/css/bootstrap-theme.min.css}" rel="stylesheet"></link>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container container-lg-heigth">
		<div class="row">
			<div class="text-center center-block"></div>
		</div>
		<div class="row">
			<div class="col-xs-1 brd" />
	        <div class="col-xs-10 brd">
	            <div class="center-block">
					<div class="well">
						<h1 th:text="${phrase}"></h1>
						<P th:text="${author}"></P>
					</div>
					<P th:text="${serverTime}"></P>
				</div>
	        </div>
			<div class="col-xs-1 brd" />      
		</div>
	</div>
</body>
</html>